/* gruvbox dark
 * https://github.com/morhetz/gruvbox
 * base16: https://github.com/dawikur/base16-gruvbox-scheme
 */

:root {
	--base00: #282828;
	--base01: #AFA17A;
	--base02: #504945;
	--base03: #665c54;
	--base04: #A1884D;
	--base05: #2E241A;
	--base06: #ebdbb2;
	--base07: #fbf1c7;
	--base08: #fb4934;
	--base09: #fe8019;
	--base0A: #FBCC60;
	--base0B: #89906D;
	--base0C: #233D30;
	--base0D: #202D3B;
	--base0E: #d3869b;
	--base0F: #d65d0e;
}
